<div class="form-group">
    <label for="id" class="col-sm-2 control-label">Id</label>
    <div class="col-sm-10">
        <input type="text" ng-model="message[0].id" class="form-control" id="id" placeholder="Id"/>
    </div>
</div>
<div class="form-group">
    <label for="message" class="col-sm-2 control-label">Message</label>
    <div class="col-sm-10">
        <input type="text" ng-model="message[0].message" class="form-control" id="message" placeholder="Message"/>
    </div>
</div>
<div class="form-group">
    <label for="topic" class="col-sm-2 control-label">Topic</label>
    <div class="col-sm-10">
        <input type="text" ng-model="message[0].topic" class="form-control" id="topic" placeholder="Topic"/>
    </div>
</div>
<div class="form-group">
    <label for="type" class="col-sm-2 control-label">Type</label>
    <div class="col-sm-10">
        <input type="text" ng-model="message[0].type" class="form-control" id="type" placeholder="Type"/>
    </div>
</div>

<div class="form-group">
    <label for="user" class="col-sm-2 control-label">User</label>
    <div class="col-sm-10">
        <input type="text" ng-model="message[0].user" class="form-control" id="user" placeholder="User"/>
    </div>
</div>

<div class="form-group">
    <label for="datetime" class="col-sm-2 control-label">Datetime</label>
    <div class="col-sm-10">
        <input type="text" ng-model="message[0].datetime" class="form-control" id="datetime" placeholder="Datetime"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>
